p {
    color:rgb(255, 0, 0);
    font-size: 30px;
    background-color: lavenderblush;
}
h1 {
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 500;
}
body {
    background-color: lavender;
}